@import url(http://fonts.googleapis.com/css?family=Questrial);
body {
  background-image: url('../media/brushed_alu.png');
  background-size: cover;
}
h1 {
  font-family: 'Questrial', 'sans-serif';
  text-align: center;
  font-size: 50px;
}
#clock {
  width: 300px;
  height: 260px;
  text-align: center;
  margin: auto;
  background-color: #62dcd1;
  font-size: 40px;
  border-radius: 20px;
  color: whitesmoke;
}
#display {
  padding: 9px;
  font-weight: bold;
  line-height: 100px;
  text-shadow: 1px 1px 2px gray;
}
button {
  margin: 20px;
  width: 90px;
  height: 30px;
  border-radius: 6px;
  font-family: 'Questrial', 'sans-serif';
  font-size: 15px;
}
