doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill 6
    link(rel='stylesheet', href='./css/d-06.css')
  body
    h1 Drill 6

    input#input(type='text', autofocus=true, placeholder='start #, end #')
    button#btn Last 3
    span =
    #container

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-06.js')
