doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill 7
    link(rel='stylesheet', href='./css/d-07.css')
  body
    h1 Drill 7

    input#input(type='text', autofocus=true, placeholder='start #, end #')
    button#btn Mate Sum
    span =
    #container

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-07.js')
