doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Move!
    link(rel='stylesheet', href='./css/d-11.css')
  body
    h1 Click the box you want to select
    h2 and move it with your arrows!

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-11.js')
