doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill 17
    link(rel='stylesheet', href='./css/d-17.css')
  body
    h1 Portfolio
    input#shares(type='text', autofocus='true', placeholder='# of Shares')
    input#symbol(type='text', placeholder='Company Symbol')
    button#get Get Position
    #container
      #top.chart Shares:
      #middle.chart Price:
      #bottom.chart Position:

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/d-17.js')
