doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Find Your Temp
    link(rel='stylesheet', href='./css/d-27.css')
  body
    #controls
      h1 Find Your Temp!
      input#zip(type='text', autofocus='true', placeholder='Enter Zipcode')
      button#add Add to Map
    #map

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='http://www.amcharts.com/lib/3/ammap.js')
    script(src='http://www.amcharts.com/lib/3/maps/js/worldLow.js')
    script(src='http://www.amcharts.com/lib/3/themes/none.js')
    script(src='./js/source/d-27.js')
