doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Stocks Totals
    link(rel='stylesheet', href='./css/d-25.css')
  body
    #controls
      h1 Stocks Totals
      input#sym(type='text', autofocus='true', placeholder='Enter Symbol')
      input#shares(type='text', placeholder='Enter # of Shares')
      button#add Add
    #chart

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='http://www.amcharts.com/lib/3/amcharts.js')
    script(src='http://www.amcharts.com/lib/3/pie.js')
    script(src='http://www.amcharts.com/lib/3/themes/chalk.js')
    script(src='./js/source/d-25.js')
